.p-3{
	padding: 15px;
}

.border-nav{
	background-color: #569af7;
}

.text-white{
	color: white;
	text-decoration: none;
	font-family: cursive;
}

.btn-service{
	background-color: #569af7;
	color: white;
}

.btn-service:hover{
	background-color: white;
	color: #569af7!important;
}

.bg-blue-black{
	background-color: #132f4c!important
}

.position-fixed{
	position: fixed;
    width: 100%;
    z-index: 1;
}

.font-family-fantasy{
	font-family: fantasy;
}

.color-light-company{
	color: #569af7!important;
}

.background-light-company{
	background-color: #569af7!important;
	color: white;
}

.background-light-company:hover{
	background-color: #132f4c!important;
}

.btn-welcome{
	width: 45%; 
	font-weight: bold; 
	border-radius: 2rem;
}

.background-images-platform{
    height: 400px;
    border-radius: 0.25rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.p-3{
	padding: 15px;
}

.logo-size{
	width: 80px;
	height: 75px;
}

.size-search{
	width: 2em;
	height: 2em;
}

.logo-branding{
	background-color: rgb(142 143 173 / 15%)!important;
	text-align: center;
	padding-top: .5em;
	border-radius: 50%;
	color: rgba(255,255,255,.75);
}

.border-nav{
	background-color: #569af7;
}

.text-white{
	color: white;
	text-decoration: none;
	font-family: cursive;
}

.btn-service{
	background-color: #569af7;
	color: white;
}

.btn-service:hover{
	background-color: white;
	color: #569af7!important;
}

.bg-blue-black{
	background-color: #326291!important
}

.position-fixed{
	position: fixed;
    width: 100%;
    z-index: 1;
}

.mx-10{
  margin-right: 10rem!important;
  margin-left: 10rem!important;
}

.margin-content{
	margin-top: 100px
}

.margin-footer{
	height: 136px
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

/* default and hover color */
::ng-deep .mat-form-field .mat-form-field-flex {
    background-color: rgb(142 143 173 / 15%);
}

/* focused color */
::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    color: rgb(142 143 173 / 15%);
}

.form-search{
	display: none;
}

.dropdown-menu-responsive{
	left: -115%; 
}

#button-search{
	display: none;
}

.width-image{
	width: 500px;
}

@media (max-width: 600px){
	.width-md {
		max-width: 200px!important;
	}

	.margin-footer{
		height: 296px
	}

	.position-fixed{
			position: relative!important;
	}

	.margin-content{
			font-size: 0.8rem; 
			margin-top: 0px
	}

  	.li-search{
		display: none;
	}

	#button-search{
		display: block;
	}

	.navbar-nav-app{
		flex-direction: row!important;
	}

	.margin-li{
		margin-left: .5rem;
	}

	.dropdown-menu-responsive{
		left: -185%; 
		position: absolute!important;
	}

	.logo-size{
		width: 40px;
		height: 35px;
	}

	.width-image{
		width: 100%;
	}
}

@media (max-width: 450px){ 
	.btn-welcome{
		width: auto;
	}
}