<div class="container py-4">
	  <h1 class="mb-4 mt-2 text-center font-family-fantasy">Miembros del Equipo</h1>
	  	<div id="member" class="row" data-ride="carousel">
	      <div class="col-md col-12 card mx-2 p-4 text-center active active">
	        <img src="assets/img/miembro-1.jpg" class="image-circle mx-auto">
	        <h5 class="mt-3 job-member">Comerciante</h5>
	        <p class="text-member-center"> Alejandra Martinez </p>
	      </div>

	      <div class="col-md col-12 card mx-2 p-4 text-center active">
	        <img src="assets/img/miembro-2.jpg" class="image-circle mx-auto">
	        <h5 class="mt-3 job-member">Estudiante de Psicología</h5>
	        <p class="text-member-center"> Jose Mujica </p>
	      </div>
	    
	      <div class="col-md col-12 card mx-2 p-4 text-center active">
	        <img src="assets/img/miembro-3.jpg" class="image-circle mx-auto">
	        <h5 class="mt-3 job-member">Desarrollador Web</h5>
	        <p class="text-member-center"> Elias Barrientos </p>
	      </div>
	    </div>
</div>