<!-- Seccion 1: Breve Introducción -->

	<div class="container p-4">
		<h1 class="mb-4 mt-2 text-center font-family-fantasy">Acerca de Nosotros</h1>
		<div class="row text-md-justify text-left">
			<p class="col-12" style="font-size: 1.8rem;">
				Somos una Empresa comprometida con nuestros clientes a facilitarle los servicios de <b class="color-light-company">Cambio de Divisas, Compra y Venta de Productos u otras prestaciones </b> de una forma Segura, Confiable y Efectiva.
			</p>
		</div>
	</div>

<!-- Seccion 2: Tipos de Negocio -->

	<div class="container px-4 pb-4">
		<h1 class="mb-4 mt-2 text-center font-family-fantasy">Actividades</h1>
		<div class="text-left">
		<p style="font-size: 1.8rem;"> Tipos de Negocios que se pueden realizar en nuestra plataforma: </p>
			<ul style="font-size: 1.8rem;"> 
				<li>Cambios de divisas por Paypal</li>
				<li>Compra y Venta de Articulos</li>
				<li>Prestación de Servicios</li>
				<li>Publicidad y Mercadeo</li>
			</ul>
		</div>
	</div>

<!-- Seccion 3: Entrar en la plataforma -->

	<div class="py-4 px-4">
		<h1 class="mb-4 mt-2 text-center font-family-fantasy">¿Quieres publicar tu negocio?</h1>
		<div class="text-center">
			<button class="btn btn-lg background-light-company py-3 btn-welcome" routerLink="/login">Ingresa Aquí</button>
		</div>
	</div>