.p-3{
	padding: 15px;
}

.logo-size{
	width: 80px;
	height: 75px;
}

.size-search{
	width: 2em;
	height: 2em;
}

.logo-branding{
	background-color: rgb(142 143 173 / 15%)!important;
	text-align: center;
	padding-top: .5em;
	border-radius: 50%;
	color: rgba(255,255,255,.75);
}

.border-nav{
	background-color: #569af7;
}

.text-white{
	color: white;
	text-decoration: none;
	font-family: cursive;
}

.btn-service{
	background-color: #569af7;
	color: white;
}

.btn-service:hover{
	background-color: white;
	color: #569af7!important;
}

.bg-blue-black{
	background-color: #326291!important
}

.position-fixed{
	position: fixed;
    width: 100%;
    z-index: 1;
}

.mx-10{
  margin-right: 10rem!important;
  margin-left: 10rem!important;
}

.margin-content{
	margin-top: 100px
}

.margin-footer{
	height: 136px
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

/* default and hover color */
::ng-deep .mat-form-field .mat-form-field-flex {
    background-color: rgb(142 143 173 / 15%);
}

/* focused color */
::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    color: rgb(142 143 173 / 15%);
}

.form-search{
	display: none;
}

.dropdown-menu-responsive{
	left: -115%; 
}

#button-search{
	display: none;
}

@media (max-width: 600px){
  .width-md {
    max-width: 180px!important;
  }

  .margin-footer{
  	height: 326px
  }

  .position-fixed{
		position: relative!important;
  }

  .margin-content{
		font-size: 0.8rem; 
		margin-top: 0px
  }

  .li-search{
		display: none;
	}

	#button-search{
		display: block;
	}

	.navbar-nav-app{
		flex-direction: row!important;
	}

	.margin-li{
		margin-left: .5rem;
	}

	.dropdown-menu-responsive{
		left: -235%; 
		position: absolute!important;
	}

	.logo-size{
		width: 55px;
		height: 50px;
	}

}

@media (max-width: 430px){

	.width-md {
    max-width: 260px!important;
  }

  .navbar {
  	padding: 0.5rem 0.3rem;
  }
}